# Import all the packages:

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

You can download the user_training_dataset_update.csv from the link below:

https://drive.google.com/open?id=1tQGlNvkmGVPGcmQID2NNd5p8bkLBxofM

# Import all the raw data files into python:

In [10]:
sessions_raw=pd.read_csv("C:/Users/yuka.abe/Desktop/Airbnb Kaggle DataSet/sessions.csv")
train_users_2_raw=pd.read_csv("C:/Users/yuka.abe/Desktop/Airbnb Kaggle DataSet/train_users_2.csv")
test_users_raw=pd.read_csv("C:/Users/yuka.abe/Desktop/Airbnb Kaggle DataSet/test_users.csv")
countries_raw=pd.read_csv("C:/Users/yuka.abe/Desktop/Airbnb Kaggle DataSet/countries.csv")
age_gender_bkts_raw=pd.read_csv("C:/Users/yuka.abe/Desktop/Airbnb Kaggle DataSet/age_gender_bkts.csv")

In [13]:
sessions_raw.head()

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0

In [5]:
train_users_2_raw.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [7]:
test_users_raw.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser
0,5uwns89zht,2014-07-01,20140701000006,NaN,FEMALE,35.0,facebook,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
1,jtl0dijy2j,2014-07-01,20140701000051,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
2,xx0ulgorjt,2014-07-01,20140701000148,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome
3,6c6puo6ix0,2014-07-01,20140701000215,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,IE
4,czqhjk3yfe,2014-07-01,20140701000305,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Safari

In [6]:
countries_raw.head()

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220.0,eng,0.00
1,CA,62.393303,-96.818146,2828.1333,9984670.0,eng,0.00
2,DE,51.165707,10.452764,7879.5680,357022.0,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370.0,spa,92.25
4,FR,46.232193,2.209667,7682.9450,643801.0,fra,92.06

In [4]:
sessions_raw.head()

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0

# Data Cleaning on the sessions_raw dataset:

In [33]:
sessions_raw.describe(include='all')

,user_id,action,action_type,action_detail,device_type,secs_elapsed
count,10533241,10488111,9441533,9441533,10567737,1.043171e+07
unique,135483,359,10,155,14,NaN
top,mxqbh3ykxl,show,view,view_search_results,Mac Desktop,NaN
freq,2722,2768278,3560902,1776885,3594286,NaN
mean,NaN,NaN,NaN,NaN,NaN,1.940581e+04
std,NaN,NaN,NaN,NaN,NaN,8.888424e+04
min,NaN,NaN,NaN,NaN,NaN,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,2.290000e+02
50%,NaN,NaN,NaN,NaN,NaN,1.147000e+03
75%,NaN,NaN,NaN,NaN,NaN,8.444000e+03
max,NaN,NaN,NaN,NaN,NaN,1.799977e+06

Create a new dataframe to include the activity count by user:

In [91]:
user_activity_count=sessions_raw.groupby('user_id').size()
user_activity_count=user_activity_count.reset_index()
user_activity_count=user_activity_count.rename(columns={0: 'session count'})
user_activity_count.sort_values(by='session count', ascending=False, inplace=True)
user_activity_count.head()

           user_id  session count
86383   mxqbh3ykxl           2722
1847    0hjoc5q8nf           2644
84873   mjbl6rrj52           2476
79804   l5lgm3w5pc           2424
122057  wg9413iaux           2362

Create a new dataframe to include the total time spent on Airbnb by user:

In [102]:
user_total_time_spent=sessions_raw.groupby('user_id')['secs_elapsed'].sum()
user_total_time_spent=user_total_time_spent.reset_index()
user_total_time_spent=user_total_time_spent.rename(columns={'secs_elapsed': 'Total time spent (in seconds)'})
user_total_time_spent.sort_values(by='Total time spent (in seconds)', ascending=False, inplace=True)
user_total_time_spent.head()

           user_id  Total time spent (in seconds)
81457   llvyczd9hn                     38221363.0
131054  yu5bdalz2b                     31393292.0
125353  xboy92k1s2                     29469461.0
123975  wyv1imf8qw                     28960128.0
59591   fsa2gw8kk4                     26647578.0

In [112]:
user_total_time_spent['Total time spent (in seconds)']=pd.to_numeric(user_total_time_spent['Total time spent (in seconds)'])

# Data Cleaning on the user training data:

Clean up all the date and timestamp fields from the train_users_2_raw data frame:

In [181]:
train_users_2_raw['date_account_created']=pd.to_datetime(train_users_2_raw['date_account_created'])
train_users_2_raw['date_first_booking']=pd.to_datetime(train_users_2_raw['date_first_booking'])
train_users_2_raw['timestamp_first_active_cleaned']=pd.to_datetime(train_users_2_raw['timestamp_first_active'].apply(lambda x: str(x)[:8]).apply(lambda x: str(x)[:4]) +'-'+ train_users_2_raw['timestamp_first_active'].apply(lambda x: str(x)[:8]).apply(lambda x: str(x)[4:6]) + '-' + train_users_2_raw['timestamp_first_active'].apply(lambda x: str(x)[:8]).apply(lambda x: str(x)[6:]))

Make sure the user training dataset is at the user id level

In [182]:
user_training_dataset_check_duplicate_df=train_users_2_raw.groupby('id').size().reset_index()

In [183]:
user_training_dataset_check_duplicate_df.loc[user_training_dataset_check_duplicate_df[0]>1]

Empty DataFrame
Columns: [id, 0]
Index: []

There's no duplicate data by user id in the user training user dataset so the data is clean.

Find out if there's any user in the dataset that does not have the country destination

In [184]:
train_users_2_raw.loc[pd.isnull(train_users_2_raw['country_destination'])]

Empty DataFrame
Columns: [id, date_account_created, timestamp_first_active, date_first_booking, gender, age, signup_method, signup_flow, language, affiliate_channel, affiliate_provider, first_affiliate_tracked, signup_app, first_device_type, first_browser, country_destination, timestamp_first_active_cleaned]
Index: []

All the users in the dataset have value in the country destination field.

Create new variable number_of_days_account_creation: number of days since the account has been created (number of days between date_account_created and date_first_booking)

In [186]:
train_users_2_raw['number_of_days_account_creation']=train_users_2_raw['date_first_booking']-train_users_2_raw['date_account_created']

Create new variable number_of_active_days: number of days since the user has been active (number of days between timestamp_first_active_cleaned and date_first_booking )

In [187]:
train_users_2_raw['number_of_active_days']=train_users_2_raw['date_first_booking']-train_users_2_raw['timestamp_first_active_cleaned']

Create a field age_computed to compute the age lower than 18 to be 18 and the age over 122 to be 122 years old.

In [210]:
train_users_2_raw['age_computed']=train_users_2_raw['age']
train_users_2_raw.loc[train_users_2_raw['age_computed']>=122,'age_computed']=122
train_users_2_raw.loc[train_users_2_raw['age_computed']<18,'age_computed']=18

Create classification variables called "Account_creation_before_booking_flag" :
- 0: Account creation after first booking
- 1: Account creation and first booking happened on the same day
- 2: Account creation before first booking

Convert the timedelta to number of days (numeric value):
- number of days since account has been created
- number of days since the user was active on airbnb website

In [316]:
train_users_2_raw['number_of_days_account_creation_numeric_value']=train_users_2_raw['number_of_days_account_creation'].dt.days
train_users_2_raw['number_of_active_days_numeric_value']=train_users_2_raw['number_of_active_days'].dt.days

In [317]:
train_users_2_raw.loc[train_users_2_raw['number_of_days_account_creation_numeric_value']==0,'Account_creation_before_booking_flag']=1
train_users_2_raw.loc[train_users_2_raw['number_of_days_account_creation_numeric_value']>0,'Account_creation_before_booking_flag']=2
train_users_2_raw.loc[train_users_2_raw['number_of_days_account_creation_numeric_value']<0,'Account_creation_before_booking_flag']=0

Merge the user training data and user activiy data together:

In [354]:
user_final_training_dataset=pd.merge(left=train_users_2_raw, right=user_activity_count, left_on="id", right_on="user_id", how='left')
user_final_training_dataset=pd.merge(left=user_final_training_dataset, right=user_total_time_spent, left_on="id", right_on="user_id", how='left')

Export the dataset user_final_training_dataset into csv file

In [8]:
#user_final_training_dataset.to_csv("C:/Users/yuka.abe/Desktop/project_user_final_training_dataset.csv")